* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f3f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 85%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_card {
  width: 47%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
}

.left_card img {
  height: 90%;
  position: relative;
}
.right_card {
  width: 47%;
  height: 100%;
  background-color: green;
}
.back_circle {
  width: 45%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: solid 22px #edeef5;
}
.back_circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.front_circle {
  width: 22%;
  box-shadow: 10px 10px 26px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #4570f5 5%, #8fa9f6);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}
.front_circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
