@font-face {
  font-family:"Shabnam";
  src:url("../Fonts/Shabnam.woff") format("woff"),
  url("../Fonts/Shabnam.eot") format("eot"),
  url("../Fonts/Shabnam.ttf") format("ttf");
  font-weight:normal; 
  font-style:normal;
}
@font-face {
  font-family:"Shabnam-bold";
  src:url("../Fonts/Shabnam-Bold.woff") format("woff"),
  url("../Fonts/Shabnam-Bold.eot") format("eot"),
  url("../Fonts/Shabnam-Bold.ttf") format("ttf");
  font-weight:normal; 
  font-style:normal;
}
* {
  padding: 0;
  margin: 0;
}
.shabnam{
  font-family: Shabnam;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #f3f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 75%;
  height: 90%;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.up_div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.up_div img {
  width: 133px;
}
.left_card {
  width: 47%;
  height: 89.2%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.left_card img {
  width: 100%;
}
.img_div {
  width: 80%;
  position: relative;
}
.right_card {
  width: 41.6%;
  height: 89.2%;
  background-color: green;
}
.right_card_container {
  width: 100%;
  height: 80%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.title {
  font-family: Shabnam-bold;
  font-size: 1.88vw;
  text-align: right;
  color: #2a3774;
}
.img_div::before {
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -60px;
  z-index: -1;
  border: solid 15px #edeef5;
}
.img_div::after {
  content: "";
  width: 22%;
  height: 22%;
  box-shadow: 10px 10px 26px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #4570f5 5%, #8fa9f6);
  position: absolute;
  bottom: 10px;
  right: 0;
  border-radius: 50%;
}
.front_circle {
  width: 22%;
  box-shadow: 10px 10px 26px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #4570f5 5%, #8fa9f6);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}
.front_circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.down_div {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.subtitle {
  font-family: Shabnam;
  font-size: 1.04vw;
  color: #7f86aa;
}
.signin_form {
  width: 87%;
  background-color: yellow;
  height:84%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.buttons {
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.buttons button{
  width: 49%;
  height: 100%;
}
.blue_btn {
  border: none;
  border-radius: 6.9px;
  color: white;
  font-size: 18px;
  box-shadow: 0 3px 20px 0 rgba(69, 112, 245, 0.3);
  background-color: #4570f5;
  cursor: pointer;
}
.gray_btn {
  border-radius: 6.9px;
  color: #929db3;
  font-size: 18px;
  cursor: pointer;
  background-color: #f3f4f8;
  border-radius: 5px;
  box-shadow: 0 3px 20px 0 rgba(69, 112, 245, 0.3);
  border: solid 1px #d1d1d2;
}
.under_inputs {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}